name: learn-github-actions
run-name: ${{ github.actor }} is learning GitHub Actions
on:
  workflow_dispatch:
jobs:
  check-bats-version:
    runs-on: ubuntu-latest # Must be a Linux runner
    steps:
      - uses: addnab/docker-run-action@v3
        with:
          image: ghcr.io/tandoorrecipes/recipes:latest
          options: -v ${{ github.workspace }}:/work
          run: |
            apk --no-cache add curl
            /sbin/tini -- /opt/recipes/boot.sh &
            sleep 30
            wget -O /work/latest.json http://localhost:80/openapi/?format=json
      - uses: addnab/docker-run-action@v3
        with:
          image: ghcr.io/tandoorrecipes/recipes:2.3.6
          options: -v ${{ github.workspace }}:/work
          run: |
            apk --no-cache add curl
            /sbin/tini -- /opt/recipes/boot.sh &
            sleep 30
            wget -O /work/develop.json http://localhost:80/openapi/?format=json
      - uses: addnab/docker-run-action@v3
        with:
          image: openapitools/openapi-diff:latest
          options: -v ${{ github.workspace }}:/work:ro
          run: java -Xshare:on -XX:SharedArchiveFile=/app/appcds.jsa -jar /app/openapi-diff.jar /work/latest.json /work/develop.json --html /work/out.html --json /work/out.json
      - run: cat out.html
      - run: cat out.json
