name: learn-github-actions
run-name: ${{ github.actor }} is learning GitHub Actions
on:
  workflow_dispatch:
jobs:
  check-bats-version:
    runs-on: ubuntu-latest # Must be a Linux runner
    steps:
      - name: Checkout 
        uses: actions/checkout@v2 # Required to mount the Github Workspace to a volume 
      - uses: addnab/docker-run-action@v3
        with:
          image: ghcr.io/tandoorrecipes/recipes:latest
          options: -v ${{ github.workspace }}:/work
          run: |
            apk --no-cache add curl
            /sbin/tini -- /opt/recipes/boot.sh &
            sleep 30
            wget -O /work/latest.json http://localhost:80/openapi/?format=json
      - uses: addnab/docker-run-action@v3
        with:
          image: ghcr.io/tandoorrecipes/recipes:develop
          options: -v ${{ github.workspace }}:/work
          run: |
            apk --no-cache add curl
            /sbin/tini -- /opt/recipes/boot.sh &
            sleep 30
            wget -O /work/develop.json http://localhost:80/openapi/?format=json
      - run: ls
      - run: ls ${{ github.workspace }}
