name: learn-github-actions
run-name: ${{ github.actor }} is learning GitHub Actions
on:
  workflow_dispatch:
jobs:
  check-bats-version:
    runs-on: ubuntu-latest # Must be a Linux runner
    container:
      image: ghcr.io/tandoorrecipes/recipes:develop
    steps:
      - name: Install curl
        run: apt-get update && apt-get install -y curl
    
      - run: sleep 60
      - run: /usr/bin/curl http://localhost:80/openapi/?format=json
